<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mb-3 mt-3">Edit your listings</h3>
    <form
      method="post"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>

        <input
          name="listing[title]"
          type="text"
          value="<%= listing.title %> "
          class="form-control"
          required
        />
        <div class="invalid-feedback">title should be thenga</div>
      </div>
      <div>
        <label for="description" class="form-label">description</label>
        <textarea
          name="listing[description]"
          type="text"
          class="form-control"
          required
        >
          <%= listing.description %></textarea
        >
        <div class="invalid-feedback">description should be valid</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">upload new image</label>

        <input
          name="listing[image]"
          type="file"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">price</label>

          <input
            name="listing[price]"
            type="number"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
                  <div class="invalid-feedback">price should be valid</div>

        </div>
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">location</label>
          <input
            name="listing[location]"
            type="text"
            value="<%= listing.location %>
          "
            class="form-control"
            required
          />
                  <div class="invalid-feedback">location should be valid</div>

        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">country</label>
        <input
          name="listing[country]"
          type="text"
          value="<%= listing.country %>"
          class="form-control"
          required
        />
                <div class="invalid-feedback">country should be valid</div>

      </div>
      <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-3">
        <button class="btn btn-outline-danger" type="submit">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
